<div
  class="container col s6"
  style="background-color: #667470; border-radius: 10px; padding: 15px"
>
  <form action="" method="post">
    <h5 class="center-align bold"><b>EDIT PRODUCT</b></h5>
    <div class="row mb-4">
      <label for=""><b>Product name</b></label>
      <div class="form-outline" style="padding-top: 5px">
        <input
          class="validate form-control"
          type="text"
          name="name"
          id=""
          required
          minlength="3"
          autocomplete="off"
          placeholder="Product name"
          value="{{product.name}}"
        />
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
      <label for=""><b>Product price</b></label>
        <div class="form-outline" style="padding-top: 5px">
          <input
            class="validate form-control"
            type="number"
            name="price"
            id=""
            required
            min="1"
            autocomplete="off"
            placeholder="Product price"
            value="{{product.price}}"
          />
        </div>
      </div>
      <div class="col">
      <label for=""><b>Product remaining</b></label>
        <div class="form-outline" style="padding-top: 5px">
          <input
            class="validate form-control"
            type="number"
            name="remaining"
            id=""
            required
            min="1"
            autocomplete="off"
            placeholder="Product quantity"
            value="{{product.remaining}}"
          />
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <div class="row">
          <div class="form-outline mb-4">
            <label for=""><b>Product category</b></label>
            <select name="category" id="">
              {{#each categoryList}}
                <option value="{{_id}}">
                  {{name}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      {{!-- <div class="col">
        <div class="row">
          <div class="form-outline mb-4" style="padding-top: 5px">
            <label for=""><b>Choosen</b></label>
            <select name="choosen" id="">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
      </div> --}}
    </div>

    <div class="row">
      {{!-- <label for=""><b>Product image</b></label>
      <div class="form-outline mb-4" style="padding-top: 5px">
        <input
          class="validate form-control"
          type="text"
          name="image"
          id=""
          required
          autocomplete="off"
          placeholder="Product image"
          value="{{product.image}}"
        />
      </div> --}}
    <label for=""><b>Product image</b></label>
      <div class="form-outline mb-4" style="padding-top: 5px">
        <input type="file" accept="image/*" name="image" id="" required>
      </div>
    </div>
    <img class="form-outline mb-4" style="padding-top: 5px" src="/images/{{product.image}}" width="100" length="100">

    <div class="row">
      <label for=""><b>Description</b></label>
      <div class="form-outline mb-4" style="padding-top: 5px">
        <input
          class="form-control"
          id=""
          placeholder="Product Description"
          type="text"
          autocomplete="off"
          name="description"
          minlength="1"
          value="{{product.description}}"
        >
      </div>
    </div>
    <div class="row">
      <div class="form-outline mb-4">
        <input class="btn btn-success" type="submit" value="Edit" />
      </div>
    </div>
  </form>
</div>