<div class="container">
<h3 style="text-align: center;"><b>Product List</b></h3>
  <div class="row">
    <div class="dropdown col-sm-4">
      <a href="#" class="btn dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <button type="button" class="btn btn-info">Sort</button>
      </a>
      <ul class="dropdown-menu dropdown-menu-light text-small shadow">
        <li>
          <a class="dropdown-item" href="/product/sort/name">
            A to Z
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="/product/sort/price">
            Price
          </a>
        </li>
      </ul>
    </div>
    <div class="dropdown col-sm-4">
      <form action="/product/search" method="post">
        <input class="form-control col-5" type="search" name="keyword" id="" placeholder="Search product" required autocomplete="off">
      </form> 
    </div>
  </div>

  <div class="row">
    {{#each productList}}
      <div class="card" style="width: 18rem; margin: 2px">
        <img
          class="card-img-top"
          src="/images/{{image}}"
          alt="Card image cap"
          width="280"
          height="200"
          style="margin-top: 12px;"
        />
        <div class="card-body">
          <h6
            class="card-title"
            style="font-weight: bold; text-align:center; color:darkblue"
          >{{name}}</h6>
          <h6><b>Type:</b>
            {{category.name}}</h6>

          <h6><b>Price:</b> ${{price}}</h6>
          <h6><b>Sold:</b> {{sold}}</h6>
          <h6><b>Quantity:</b> </h6>

          <div style="margin-top: 20px;">
            <a
              href="#"
              class="btn btn-success"
              style="width: 80px;  margin-left: 15px"
            ><i class="bi bi-bag-plus-fill"></i></a>
            <a
              href="/product/detail/{{_id}}"
              class="btn btn-success"
              style="width: 80px; margin-left: 15px"
            ><i class="bi bi-info-square-fill"></i></a>
          </div>

        </div>
      </div>
    {{/each}}
  </div>
</div>